<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>

</head>
<body>
  <div id="todo-container">
    <form #todoform="ngForm" (ngSubmit)="addtodofunc(todoform.value)">
    <div id="todo-heading">Todo List</div>
    <input type="text" id="todo-input" [(ngModel)]="todoValue" name="todo" placeholder="Add a new todo">
    <button type="submit" id="add-button">Add</button>
    </form>
    <ul id="todo-list" *ngFor="let item of todos">
      <li class="todo-item">
        <span>{{item.todo}}</span>
        <button class="delete-button" (click)="deleteTodoConfirmation(item.id)" >Delete</button>
      </li>
    </ul>
  </div>

</body>
</html>
